@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0px auto;
  padding: 0;
  /* border: 5px solid black; */
}

html {
  margin: 0;
}

ul li {
  list-style: none;
  margin-left: 0;
}

ul {
  align-items: center;
  margin-left: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
/* Shared Styles */
.container-size {
  max-width: 1032px;
  margin: 0 auto;
  /* border: 5px solid black; */
}

.black {
  color: rgb(17, 17, 17);
}

.orange {
  color: rgb(254, 163, 1);
}

.blue {
  color: rgb(1, 172, 253);
}

.aqua {
  color: rgb(5, 212, 223);
}

.purple {
  color: rgb(93, 88, 239);
}

.text-primary {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.text-secondary {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.display-flex {
  display: flex;
  justify-content: center;
}

/* Navbar Styles */

.nav-name {
  font-size: 1.78rem;
  font-weight: 700;
  color: rgb(17, 17, 17);
}

.logo {
  width: 55px;
  height: 55px;
}

nav ul {
  align-items: center;
}

nav ul li {
  list-style: none;
  margin-right: 28px;
}

nav li a {
  text-decoration: none;
}

.navbar {
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  align-items: center;
  gap: 9px;
}

.nav-font-p {
  font-size: 1.11rem;
  font-weight: 700;
}

.nav-font-s {
  font-size: 1.11rem;
  font-weight: 500;
}

.nav-btn {
  color: white;
  background-color: rgb(254, 163, 1);
  border: none;
  border-radius: 8px;
  font-size: 1.11rem;
  font-weight: 500;
  width: 175px;
  height: 44px;
}

.nav-btn:hover {
  color: rgb(254, 163, 1);
  background-color: white;
  border: 1px solid rgb(254, 163, 1);
}

.menu {
  display: none;
}
.nav-hr {
  display: none;
}

/* Banner Style */
.banner-img {
  width: 500px;
}

.banner img {
  max-width: 100%;
  height: auto;
}

.banner {
  gap: 44px;
  margin-bottom: -20px;
  /* border: 2px solid black; */
}

.banner-content {
  padding: 106px 0px;
  max-width: 560px;
}

.banner-title {
  font-size: 3.11rem;
  font-weight: 700;
  line-height: 3.39rem;
  margin-bottom: 21px;
}

.banner-description {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.39rem;
}

.btn {
  color: white;
  background: rgb(17, 17, 17);
  border: none;
  border-radius: 8px;
  font-size: 1.11rem;
  font-weight: 700;
  width: 175px;
  height: 44px;
}

.btn:hover {
  color: rgb(17, 17, 17);
  background: white;
  border: 1px solid black;
}

/* Body */
.body-section {
  margin-top: 0;
  background: url(../assets/bg.png),
    linear-gradient(0deg, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 0.3) 100%);
}

/* Curriculum */
.curriculum {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 53px 0px;
}

.curriculum-title {
  font-size: 2.55rem;
  font-weight: 700;
  margin-bottom: 70px;
  text-align: center;
}

.curriculum-cards {
  align-items: center;
  gap: 25px;
  text-align: center;
  /* border: 2px solid black; */
}

.card-1,
.card-2,
.card-3 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  max-width: 327px;
  max-height: 428px;
  padding: 46px 35px 30px 35px;
  /* border: 2px solid black; */
}

.card-1 {
  box-sizing: border-box;
  border: 0.94px solid rgb(222, 245, 255);
  border-radius: 16.78px;

  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      180deg,
      rgb(222, 245, 255),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}

.card-1:hover {
  background: linear-gradient(
      0deg,
      rgb(222, 245, 255),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}

.card-2 {
  box-sizing: border-box;
  border: 0.94px solid rgb(255, 244, 220);
  border-radius: 16.78px;

  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      180deg,
      rgb(255, 244, 220),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}

.card-2:hover {
  background: linear-gradient(
      0deg,
      rgb(255, 244, 220),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}

.card-3 {
  box-sizing: border-box;
  border: 0.94px solid rgb(242, 232, 255);
  border-radius: 16.78px;

  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      180deg,
      rgb(238, 225, 255),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}

.card-3:hover {
  background: linear-gradient(
      0deg,
      rgb(238, 225, 255),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}

.card-img {
  width: 115px;
}

.card-title {
  font-size: 1.36rem;
  font-weight: 700;
  /* margin-top: 28px; */
  /* margin-bottom: 20px; */
}

.card-2 > .card-title {
  margin-top: 43px;
}

.card-description {
  color: rgb(128, 128, 128);
  font-family: Raleway;
  font-size: 0.84rem;
  font-weight: 500;
  line-height: 1.57rem;
  letter-spacing: 0%;
  text-align: center;
  margin-top: -15px;
  /* margin-bottom: 30px; */
}

.read {
  font-size: 0.84rem;
  font-weight: 700;
}

.arrow {
  gap: 9px;
  margin-top: 70px;
}

.arrow-1 {
  color: white;
  background-color: rgb(254, 163, 1);
  width: 53px;
  height: 53px;
  border: none;
  border-radius: 50%;
  font-size: 25px;
  text-align: center;
  font-weight: 700;
}

.arrow-1:hover {
  color: rgb(254, 163, 1);
  background-color: white;
  border: 1px solid rgb(254, 163, 1);
}
/* marquee */
.mrq {
  font-size: 1em;
  color: rgb(55, 142, 196);
  background-color: rgb(238, 242, 249);
  padding: 10px;
  border: 1px solid rgb(55, 142, 196);
  border-radius: 6px;
  margin-top: 40px;
  margin-bottom: -30px;
}

/* Stories */

/* Footer */

footer {
  background-color: rgb(1, 172, 253);
  margin: 0;
  padding: 0;
}
.footer-container {
  display: grid;
  /* grid-template-columns: 3fr 1fr 1fr; */
  grid-template-columns: repeat(2,1fr);
  /* justify-content: space-between; */
  gap: 150px;
  padding-top: 110px;
  padding-bottom: 155px;
}
.education {
  justify-content: start;
  align-items: center;
  gap: 15px;
  margin-bottom: 32px;
}

.education-logo {
  width: 73px;
  height: 73px;
}

.written {
  color: white;
  font-size: 2.34rem;
  font-weight: 700;
}

.kids-description {
  color: white;
  font-size: 1.11rem;
  font-weight: 400;
  margin-top: -40px;
}

.kids{
  margin-top: -40px;
}

.about-school {
  font-size: 1.33rem;
  font-weight: 700;
  color: white;
}

.link a {
  font-size: 1.11rem;
  font-weight: 500;
  color: white;
  justify-content: left;
}

.link li{
  margin-bottom: 18px;
}

.social-text{
  font-size: 1.44rem;
  font-weight: 700;
  color: white;
}

.footer-ends{
  justify-content: space-between;
}

.social-links{
  gap: 9px;
}

/* mobile responsive */

@media screen and (max-width: 576px) {
  /* navbar */
  .navbar {
    justify-content: space-around;
    gap: 253px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .menu {
    display: block;
    margin-left: -20px;
  }
  .nav-name,
  .nav-link,
  .nav-btn {
    display: none;
  }
  .logo {
    width: 40px;
    height: 40px;
  }
  .nav-hr {
    display: block;
    border: none;
    border-bottom: 1px solid rgb(254, 163, 1);
  }
  /* banner */
  .banner {
    flex-direction: column-reverse;
    margin: 0 auto;
    text-align: center;
  }
  .banner-content {
    padding: 0px 20px 0px 20px;
    gap: 14px;
    margin-top: -50px;
  }

  .banner-img {
    width: 90%;
    margin: 0 auto;
  }

  .banner-title {
    font-size: 1.9rem;
    line-height: 2.2rem;
  }

  /* curriculum */

  .curriculum-cards {
    flex-direction: column;
  }
  .curriculum-title {
    font-size: 1.5rem;
    margin-bottom: 17px;
  }
  .arrow {
    display: none;
  }


  /* Footer */
  .footer-container{
    grid-template-columns: repeat(1,1fr);
    padding-left: 18px;
    padding-right: 18px;
    gap: 10px;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .footer-ends{
    flex-direction: column;
  }

  .social-links{
    justify-content: start;
  }
}
