@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0px auto;
  /* border: 5px solid black; */
}

html {
  margin: 0;
}

/* Shared Styles */
.container-size {
  max-width: 1032px;
  margin: 0 auto;
  /* border: 5px solid black; */
}

.black {
  color: rgb(17, 17, 17);
}

.orange {
  color: rgb(254, 163, 1);
}

.blue {
  color: rgb(1, 172, 253);
}

.aqua {
  color: rgb(5, 212, 223);
}

.purple {
  color: rgb(93, 88, 239);
}

.text-primary {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.text-secondary {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.display-flex {
  display: flex;
  justify-content: center;
}

/* Navbar Styles */

.nav-name {
  font-size: 1.78rem;
  font-weight: 700;
  color: rgb(17, 17, 17);
}

.logo {
  width: 55px;
  height: 55px;
}

nav ul {
  align-items: center;
}

nav ul li {
  list-style: none;
  margin-right: 28px;
}

nav li a {
  text-decoration: none;
}

.navbar {
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  align-items: center;
  gap: 9px;
}

.nav-font-p {
  font-size: 1.11rem;
  font-weight: 700;
}

.nav-font-s {
  font-size: 1.11rem;
  font-weight: 500;
}

.nav-btn {
  color: white;
  background-color: rgb(254, 163, 1);
  border: none;
  border-radius: 8px;
  font-size: 1.11rem;
  font-weight: 500;
  width: 175px;
  height: 44px;
}

.nav-btn:hover {
  color: rgb(254, 163, 1);
  background-color: white;
  border: 1px solid rgb(254, 163, 1);
}

.menu {
  display: none;
}
.nav-hr {
  display: none;
}

/* Banner Style */
.banner-img {
  width: 500px;
}

.banner img {
  max-width: 100%;
  height: auto;
}

.banner {
  gap: 44px;
  /* border: 2px solid black; */
}

.banner-content {
  padding: 106px 0px;
  max-width: 560px;
  /* margin-left: -35px; */
  /* margin: 106px 0px;; */
  /* border: 3px solid black; */
}

.banner-title {
  font-size: 3.11rem;
  font-weight: 700;
  line-height: 3.39rem;
  margin-bottom: 21px;
}

.banner-description {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.39rem;
}

.btn {
  color: white;
  background: rgb(17, 17, 17);
  border: none;
  border-radius: 8px;
  font-size: 1.11rem;
  font-weight: 700;
  width: 175px;
  height: 44px;
}

.btn:hover {
  color: rgb(17, 17, 17);
  background: white;
  border: 1px solid black;
}

/* mobile responsive */

@media screen and (max-width: 576px) {
  /* navbar */
  .navbar {
    justify-content: space-around;
    gap: 253px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .menu {
    display: block;
    margin-left: -20px;
  }
  .nav-name,
  .nav-link,
  .nav-btn {
    display: none;
  }
  .logo {
    width: 40px;
    height: 40px;
  }
  .nav-hr{
   display: block;
   border: none;
   border-bottom: 1px solid rgb(254, 163, 1);
  }
  /* banner */
  .banner {
    flex-direction: column-reverse;
    margin: 0 auto;
    text-align: center;
  }
  .banner-content {
    padding: 0px 20px 0px 20px;
    gap: 14px;
    margin-top: -50px;
  }

  .banner-img {
    width: 90%;
    margin: 0 auto;
  }

  .banner-title {
    font-size: 1.9rem;
    line-height: 2.2rem;
  }
}
